.wrapper-contact-page {
  display: flex;
  justify-content: center;
  width: 100%;
  margin-top: 100px;
  margin-bottom: 30px;
}
.full-wrapper-contact-page {
  background-color: rgb(2, 10, 18);
}

.flex {
  // border: 1px solid green;
  width: 70%;
  display: flex;
  justify-content: space-between;
}
.width {
  width: 5%;
}
