.FirstCarouselRow-wrapper {
  margin-top: 50px;
  display: flex;
  justify-content: space-evenly;
  //   align-items: center;
  background-color: black;
  color: #c4c8cd;
}
.carousel {
  margin-top: 50px;
}

.FirstCarouselRow-info {
  text-align: center;
  width: 50%;
  margin-top: 50px;
}

.FirstCarouselRow-info h1 {
  color: #a67c52;
  font-size: 36px;
  margin-top: 25px;
}

.FirstCarouselRow-info p {
  margin-top: 20px;
  line-height: 34px;
  font-size: 20px;
}
