.SecondCarouselRow-wrapper {
  //   display: flex;
  //   justify-content: space-evenly;
  //   align-items: center;
  border: 1px solid red;
}

.SecondCarouselRow-info {
  border: 1px solid red;
}

.carousel-second-row {
}

.SecondCarouselRow-info h1 {
  color: #a67c52;
}

.SecondCarouselRow-info p {
  color: #c4c8cd;
}
